{% extends 'base.html'%}
{% block title %} <title>О нас </title>{% endblock%}
{% block body %}
<div class="header">
    <h1>О нас</h1>
    <h6>Время {{time}}</h6>
</div>
{% include 'menu.html'%}
<div class="container">
    <p> Сегодня: {{date.day}} {{'0' + date.month|string if (date.month|string)|length == 1 else date.month}}
        {{date.year}} </p>
    <h2>Добро пожаловать в нашу IT компанию!</h2>
    <p>Мы команда опытных профессионалов, страстно увлеченных технологиями и предоставлением передовых IT решений для
        наших клиентов. В нашей компании мы стремимся к тому, чтобы помочь вашему бизнесу процветать в цифровой
        эпохе.</p>
    <p>Мы понимаем, что современный бизнес требует инноваций и гибкости, поэтому мы специализируемся на разработке
        индивидуальных IT-решений, которые отвечают вашим уникальным потребностям. Наш подход к разработке программного
        обеспечения и веб-приложений основан на глубоком понимании ваших бизнес-процессов и целей, чтобы предложить вам
        решение, которое поможет вам достичь успеха.</p>
</div>

<div class="container">
    <h2>Наши услуги</h2>
    <ul>
        <li>Разработка программного обеспечения</li>
        <li>Веб-разработка</li>
        <li>Мобильные приложения</li>
        <li>Облачные решения</li>
        <li>IT-консалтинг и поддержка</li>
    </ul>
</div>

<div class="container">
    <h2>Наши ценности</h2>
    <p>Мы уделяем особое внимание качеству и срокам выполнения проектов. Наша цель - обеспечить вашему бизнесу
        великолепное техническое решение, которое превзойдет ваши ожидания. Мы стремимся к долгосрочным партнерским
        отношениям с нашими клиентами и готовы поддерживать их во всех аспектах IT.</p>
</div>

<div class="container">
    <h2>Наши преимущества</h2>
    <ul>
        <li>Опытная команда профессионалов</li>
        <li>Индивидуальный подход к каждому проекту</li>
        <li>Глубокие знания и опыт работы с различными технологиями</li>
        <li>Качество и сроки выполнения проектов</li>
        <li>Инновационные IT-решения</li>
    </ul>
</div>

<div class="container">
    <h2>Свяжитесь с нами</h2>
    <p>Если вы ищете надежного партнера в сфере IT, который поможет вам реализовать ваши цели и задачи, вы нашли
        правильную компанию. Мы готовы взяться за ваш проект и превратить вашу идею в реальность.</p>
    <p>Свяжитесь с нами сегодня, чтобы обсудить, как мы можем помочь вашему бизнесу стать лидером в цифровой эпохе. Мы с
        нетерпением ждем возможности сотрудничества с вами и помощи в достижении ваших целей.</p>
</div>

{% endblock %}




